.y-pagination {
  direction: ltr;
  display: flex;

  & .page-link {
    border: 1px solid $red-200;
    background-color: transparent;
    height: 100%;
    padding: 0.25rem 0.5rem;
    min-width: 40px;
    color: $gray-950;
    text-align: center;
    transition: background-color 200ms;
    &:hover {
      background-color: $red-100;
    }
  }

  & .page-item.active > .page-link {
    background-color: $red-100;
    border: 2px solid $red-300;
    color: $red-400;
  }

  & .pagination-arrow {
    & .page-link {
      color: $red-200;
    }
    &.disabled > .page-link {
      color: $gray-900;
    }
  }
}
